.env
hardhat_deploy_to_ten/ignition/deployments/chain-8443/build-info/solc-0_8_28-9c5d508ca7a179a1e6e42fdda2639f7b929530b3.json
hardhat_deploy_to_ten/ignition/deployments/chain-8443/deployed_addresses.json
hardhat_deploy_to_ten/ignition/deployments/chain-8443/journal.jsonl
hardhat_deploy_to_ten/ignition/deployments/chain-8443/artifacts/CounterModule\#Counter.json
